{% extends "admin/super/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}
    <!-- TINYMCE -->
    <script type="text/javascript" src="static/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    </script>
    <h2>Duyurular Yönetimi</h2>

    <!-- GÖNDERİ SONUCU -->
    {% if data.GET.sonuc == "basarili" %}
        <div class="panel panel-default panel-primary" style="margin-top: 25px">
            <div class="panel-heading">
                <h4><i class="glyphicon glyphicon-check"> </i> Duyurular başarı ile gönderilmiştir.</h4>
            </div>
        </div>
    {% elseif data.GET.sonuc == "basarisiz" %}
        <div style="margin-top: 25px" class="panel panel-default panel-red">
            <div class="panel-heading">
                <h4><i class="glyphicon glyphicon-remove"> </i> Duyuruların gönderilmesinde beklenmedik bir sorunla karşılaşıldı.</h4>
            </div>
        </div>
    {% endif %}

    <a href="?link=duyurular&islem=gonder" class="btn btn-primary">Yeni Duyuru Gönder</a>

    <!-- DUYURU GÖSTERME FORMU -->
    {% if data.GET.islem == "gonder" %}
        {{ include("admin/super/inc/duyurular_gonder.html.twig") }}
    {% endif %}


{% endblock %}
