</div>

<footer class="text-center">
    <h1>Şirket admin</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cum doloremque eaque iusto praesentium voluptate.</p>
</footer>
<!-- #WRAPPER -->
<!-- header.html.twig -->

<!-- ########## SCRIPTLER ########## -->

<!-- jQuery -->
<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="static/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="static/bower_components/raphael/raphael-min.js"></script>
<script src="static/bower_components/morrisjs/morris.min.js"></script>
<script src="static/js/morris-data.js"></script>
<!-- Custom Theme JavaScript -->
<script src="static/dist/js/sb-admin-2.js"></script>

<!-- muratın jstree dosyaları -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript"  src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"/>
<script type="text/javascript" src="static/js/jquery.tree.js"></script>
<script type="text/javascript">
    //<!--
    $(document).ready(function() {

        $('#example-3 div').tree({
            onCheck: {
                node: 'expand'
            },
            onUncheck: {
                node: 'collapse'
            }
        });
    });
    //-->
</script>
<link rel="stylesheet" type="text/css" href="static/css/jquery.tree.css"/>
<!--muratın jstree dosyaları -->

<!-- Tablolar için dataTable işlemleri -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function() {
        $('table.display').dataTable({
            "language": {
                "lengthMenu": "Sayfa başına _MENU_ kayıt göster.",
                "zeroRecords": "Kayıt bulunamadı.",
                "info": "_PAGE_ / _PAGES_",
                "infoEmpty": "Kayıt bulunamadı.",
                "infoFiltered": "(Toplam _MAX_ kayıttan filtre edildi.)",
                "search": "Arama yapın.",
                "paginate": {
                    "first":      "İlk",
                    "previous":   "<<<",
                    "next":       ">>>",
                    "last":       "Son"
                }

            },
            "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "Hepsi"]],
            "pagingType": "full_numbers"
        });
    } );
</script>
</body>
</html>

