{% embed "admin/sirket/header.html.twig" %}
    {% block title %}
        {{ data.title }}
    {% endblock %}
{% endembed %}


<div id="page-wrapper">

    <content>
        {% block admin_icerik %}

            <h1>{{ data.mesaj }}</h1>

        {% endblock %}
    </content>
</div>


{{ include("admin/sirket/footer.html.twig") }}
