{% embed "admin/sirket/header.html.twig" %}
    {% block title %}
        {{ data.title }}
    {% endblock %}
{% endembed %}


<div id="page-wrapper">

    <content style="padding: 40px 0px">
        {% block admin_icerik %}

            <h1>{{ data.mesaj }}</h1>

            <div class="row">

                <div class="col-md-3">
                    <div class="panel panel-primary widget">

                        <div class="panel-heading">
                            <h4>Reklam Yönetimi <i class="pull-right fa fa-bar-chart fa-fw"></i></h4>
                        </div>

                        <div class="panel-footer">
                            </li><h5>Toplam Reklam<i class="pull-right">20</i></h5>
                            <h5>Aktif Reklam<i class="pull-right">16</i></h5>
                            <h5>Pasi Reklam<i class="pull-right">15</i></h5>
                            <i class="pull-right"><a class="" href="?link=reklam">Git</a></i>
                        </div>

                    </div>
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4>Reklam Yönetimi <i class="pull-right fa fa-bar-chart fa-fw"></i></h4>
                        </div>

                        <div class="panel-footer">
                            Reklam işlemleri.
                            <a href="?link=reklam">Git</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4>Reklam Yönetimi <i class="pull-right fa fa-bar-chart fa-fw"></i></h4>
                        </div>

                        <div class="panel-footer">
                            Reklam işlemleri.
                            <a href="?link=reklam">Git</a>
                        </div>

                    </div>
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4>Reklam Yönetimi <i class="pull-right fa fa-bar-chart fa-fw"></i></h4>
                        </div>

                        <div class="panel-footer">
                            Reklam işlemleri.
                            <a href="?link=reklam">Git</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4>Reklam Yönetimi <i class="pull-right fa fa-bar-chart fa-fw"></i></h4>
                        </div>

                        <div class="panel-footer">
                            Reklam işlemleri.
                            <a href="?link=reklam">Git</a>
                        </div>

                    </div>
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4>Reklam Yönetimi <i class="pull-right fa fa-bar-chart fa-fw"></i></h4>
                        </div>

                        <div class="panel-footer">
                            Reklam işlemleri.
                            <a href="?link=reklam">Git</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4>Reklam Yönetimi <i class="pull-right fa fa-bar-chart fa-fw"></i></h4>
                        </div>

                        <div class="panel-footer">
                            Reklam işlemleri.
                            <a href="?link=reklam">Git</a>
                        </div>

                    </div>
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4>Reklam Yönetimi <i class="pull-right fa fa-bar-chart fa-fw"></i></h4>
                        </div>

                        <div class="panel-footer">
                            Reklam işlemleri.
                            <a href="?link=reklam">Git</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4>Reklam Yönetimi <i class="pull-right fa fa-bar-chart fa-fw"></i></h4>
                        </div>

                        <div class="panel-footer">
                            Reklam işlemleri.
                            <a href="?link=reklam">Git</a>
                        </div>

                    </div>
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4>Reklam Yönetimi <i class="pull-right fa fa-bar-chart fa-fw"></i></h4>
                        </div>

                        <div class="panel-footer">
                            Reklam işlemleri.
                            <a href="?link=reklam">Git</a>
                        </div>

                    </div>
                </div>


            </div>


        {% endblock %}
    </content>
</div>


{{ include("admin/sirket/footer.html.twig") }}
