{% embed "admin/sirket/header.html.twig" %}
    {% block title %}
        {{ data.title }}
    {% endblock %}
{% endembed %}

<div id="page-wrapper">

    {% block admin_icerik %}

        <h1>şirket admin sayfasına hoşgeldiniz.</h1>

    {% endblock %}
</div>


{{ include("admin/sirket/footer.html.twig") }}
