# Git'e dahil olmayacak klasörler ve dosyalar.
.idea/
!/

# Email sifresi
#configMail.php
imageResize.php
images/Thumbs.db
upload/2015-04/MQ==_20150411232241.png
upload/2015-04/Thumbs.db
upload/2015-04/Thumbs.db