<div class="panel panel-success">

    <div class="panel-heading text-center">
        <h1 class="panel-title"><strong>Bir Ankete Yanıt Toplamak</strong></h1>
    </div>

    <div class="panel-body">

        <p>
            <strong>Link: </strong> <code>/json/surveyVotes.php</code>
            <br/>
            <code>.../json/surveyVotes.php?ref={{ data.sirket.ref_kod }}&choiceId=16&surveyId=9&customerId=1<a href="http://jsonbulut.com/json/surveyVotes.php?ref={{ data.sirket.ref_kod }}&choiceId=16&surveyId=9&customerId=1" target="_blank"> Git</a></code>

        </p>

        <table class="table table-condensed table-hover ">

            <tr>
                <th class="">
                    Gelen İçeriğin Verileri
                </th>
            </tr>

            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>ref</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Şirketinizin API referans kodu.</p>
                        </div>

                        <div class="col-md-3">
                            <strong>choiceId</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Ankete ait seçeneğin Id 'si.</p>
                        </div>
                        <div class="col-md-3">
                            <strong>surveyId</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Anketin Id 'si</p>
                        </div>
                        <div class="col-md-3">
                            <strong>customerId</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Müşterinizin Id 'si</p>
                        </div>


                    </div>
                </td>
            </tr>

            <tr>
                <th>
                    Dönen Veriler
                </th>
            </tr>

            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>durum</strong>
                        </div>
                        <div class="col-md-9">
                            <p>(bool) Dönüş durumu. (true veya false)</p>
                        </div>

                        <div class="col-md-3">
                            <strong>mesaj</strong>
                        </div>
                        <div class="col-md-9">
                            <p>İçeriğin mesajı.</p>
                        </div>


                    </div>
                </td>
            </tr>


        </table>

        <hr/>

        <h3 class="text-center">
            JSON Geri Dönüşleri
        </h3>

        <h4>Referans Kodu boş bırakılmışsa: </h4>
        <pre>
{
    "voting": [
        {
            "durum": false,
            "mesaj": "API referans kodunuz eksik."
        }
    ]
}
        </pre>

        <h4>Hatalı Referans Kodu:</h4>
        <pre>
{
    "voting": [
        {
            "durum": false,
            "mesaj": "API referans kodunuz hatalı"
        }
    ]
}
        </pre>

        <h4>Eksik ve Boş Alanlar: </h4>
        <h6>API referans koduna ek olarak choiceId, surveyId, customerId alanları doldurulmalıdır.</h6>
        <pre>
{
    "voting": [
        {
            "durum": false,
            "mesaj": "Eksik bilgi girdiniz."
        }
    ]
}    </pre>

        <h4>Müşteriniz daha önce bu ankete oy kullanmışsa: </h4>
        <pre>
{
    "voting": [
        {
            "durum": false,
            "mesaj": "Daha önce oy kullandınız ya da anket bulunamadı."
        }
    ]
}
        </pre>
        <h4>Başarılı İşlem: </h4>
        <pre>
{
    "voting": [
        {
            "durum": true,
            "mesaj": "Seçiminiz kaydedildi."
        }
    ]
}
        </pre>
        <div class="panel-footer">
        <p>Anketlere yanıt toplama işinde kullanılır.</p>
    </div>
</div>