<div class="panel panel-success">

    <div class="panel-heading text-center">
        <h1 class="panel-title"><strong>Formlar</strong></h1>
    </div>

    <div class="panel-body">

        <p>
            <strong>Link: </strong> <code>/json/forms.php</code>
            <br/>
            <code>.../json/forms.php?ref=12345&formId=1</code>
            <br/>
            <code>.../json/forms.php?ref=12345&start=1&count=2</code>
        </p>

        <table class="table table-condensed table-hover ">

            <tr>
                <th class="">
                    Gelen Formun Verileri
                </th>
            </tr>

            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>ref</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Şirketinizi API referans kodu.</p>
                        </div>

                        <div class="col-md-3">
                            <strong>formId</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Form Id'si.</p>
                        </div>
                        <div class="col-md-3">
                            <strong>start</strong>
                        </div>
                        <div class="col-md-9">
                            <p>birden fazla form getirilmek istendiğinde gerekli olan başlangıç değeri</p>
                        </div>
                        <div class="col-md-3">
                            <strong>count</strong>
                        </div>
                        <div class="col-md-9">
                            <p>kaç tane form verisi getirileceği</p>
                        </div>



                    </div>
                </td>
            </tr>

            <tr>
                <th>
                    Dönen Veriler
                </th>
            </tr>

            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>durum</strong>
                        </div>
                        <div class="col-md-9">
                            <p>(bool) Dönüş durumu. (true veya false)</p>
                        </div>

                        <div class="col-md-3">
                            <strong>mesaj</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Duyurunun mesajı.</p>
                        </div>
                        <div class="col-md-3">
                            <strong>formId</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Formun Id'si</p>
                        </div>

                        <div class="col-md-3">
                            <strong>formname</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Formun Adı Kısmı</p>
                        </div>

                        <div class="col-md-3">
                            <strong>formhtml</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Formun HTML Kısmı</p>
                        </div>
                        <div class="col-md-3">
                            <strong>formjson</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Formun JSON Kısmı</p>
                        </div>
                        <div class="col-md-3">
                            <strong>date</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Formun eklenme tarihi</p>
                        </div>
                    </div>
                </td>
            </tr>


        </table>

        <hr/>

        <h3 class="text-center">
            JSON Geri Dönüşleri
        </h3>

        <h4>Eksik Referans Kodu: </h4>
        <pre>
{
    "forms": [
        {
            "durum": false,
            "mesaj": "Referans Kodu Giriniz"
        }
    ]
}
        </pre>

        <h4>Hatalı Referans Kodu:</h4>
        <pre>
{
    "forms": [
        {
            "durum": false,
            "mesaj": "Referans Kodu Hatal\u0131"
        }
    ]
}
        </pre>


        <h4>Sadece Ref Kodu Girildiginde Gelen: </h4>

        <pre>
{
    "forms": [
        {
            "durum": false,
            "mesaj": "Ba\u015flang\u0131\u00e7 de\u011feri veya Form id bulunamad\u0131"
        }
    ]
}

        </pre>

        <h4>Ref kodu dogru oldugunda, formId Boş veya 0 veya hatalı oldugunda: </h4>

        <pre>
{
    "forms": [
        {
            "durum": false,
            "mesaj": "Form Bilgileri Hatal\u0131"
        }
    ]
}

        </pre>
        <h4>Ref kodu start 0 oldugunda </h4>
        <h6>start 0 demek ilk formunuzdan itibaren 20 tane formu getir demek count'un varsayılan degeri 20'dir: </h6>
        <pre>
{
    "forms": [
        {
            "durum": true,
            "mesaj": "Giri\u015f Ba\u015far\u0131l\u0131",
            "bilgiler": [
                {
                    "formId": "7",
                    "formname": "Form Name",
                    "formhtml": "--- formunuzun html çıktısı. ---",
                    "formjson": "--- formunuzun json çıktısı. ---"
                }
            ]
        }
    ]
}
        </pre>





        <h4>Ref kodu Start&count Başarılı ise </h4>
        <h6>Sadece Verilen Aralıktaki Formları Gelir: </h6>
        <pre>
{
    "forms": [
        {
            "durum": true,
            "mesaj": "Giri\u015f Ba\u015far\u0131l\u0131",
            "bilgiler": [
                {
                    "formId": "7",
                    "formname": "Form Name",
                    "formhtml": "--- formunuzun html çıktısı. ---",
                    "formjson": "--- formunuzun json çıktısı. ---"
                }
            ]
        }
    ]
}
        </pre>
        <h4>Ref kodu dogru ama Form sayınızdan fazla Başlangıç degeri girdiğinizde : </h4>

        <pre>
{
    "forms": [
        {
            "durum": false,
            "mesaj": "Ba\u015flang\u0131\u00e7 degeri hatal\u0131"
        }
    ]
}
        </pre>

    </div>

    <div class="panel-footer">
        <p>Formları Göstermek için kullanılır.</p>
    </div>
</div>