<div class="panel panel-success">

    <div class="panel-heading text-center">Kullanıcı Kayıt </div>

    <div class="panel-body">

        <p>
            <strong>Link: </strong> <code>/json/userRegister.php</code>
            <br/>
            <code>.../json/userRegister.php?ref={{ data.sirket.ref_kod }}&userName=adı&userSurname=soyadı
                &userPhone=123456&userMail=a@a.com&userPass=***</code>
            <a href="http://jsonbulut.com/json/userRegister.php?ref={{ data.sirket.ref_kod }}&userName=demo&userSurname=demo&userPhone=05333333333&userMail=a@a.com&userPass=123456"target="_blank"> Git</a></code>

        </p>

        <table class="table table-condensed table-hover ">

            <tr>
                <th class="">
                    Gelen Veriler
                </th>
            </tr>

            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>ref</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Şirketinizi API referans kodu.</p>
                        </div>

                        <div class="col-md-3">
                            <strong>userName </strong>
                        </div>
                        <div class="col-md-9">
                            <p>Müşterinizin Adı</p>
                        </div>

                        <div class="col-md-3">
                            <strong>userSurname </strong>
                        </div>
                        <div class="col-md-9">
                            <p>Müşterinizin Soyadı</p>
                        </div>
                        <div class="col-md-3">
                            <strong>userPhone </strong>
                        </div>
                        <div class="col-md-9">
                            <p>Müşterinizin Telefonu</p>
                        </div>
                        <div class="col-md-3">
                            <strong>userMail </strong>
                        </div>
                        <div class="col-md-9">
                            <p>Müşterinizin Mail Adresi</p>
                        </div>

                        <div class="col-md-3">
                            <strong>userPass </strong>
                        </div>
                        <div class="col-md-9">
                            <p>Müşterinizin Şifresi</p>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <th>
                    Dönen Veriler
                </th>
            </tr>

            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>durum</strong>
                        </div>
                        <div class="col-md-9">
                            <p>(bool) Dönüş durumu. (true veya false)</p>
                        </div>

                        <div class="col-md-3">
                            <strong>mesaj</strong>
                        </div>
                        <div class="col-md-9">
                            <p>Durum mesajı.</p>
                        </div>
                    </div>
                </td>
            </tr>


        </table>

        <hr/>

        <h3 class="text-center">
            JSON Geri Dönüşleri
        </h3>

        <h4>Referans Kodu hiç yazılmazsa: </h4>
        <pre>
{
    "user": [
        {
            "durum": false,
            "mesaj": "Referans Kodu Eksik"
        }
    ]
}

        </pre>

        <h4>Referans Kodu eksik veya yanlış girildiğinde:</h4>
        <pre>
{
    "user": [
        {
            "durum": false,
            "mesaj": "Referans kodu yanl\u0131\u015f"
        }
    ]
}


        </pre>


        <h4>Eksik Alanlar: </h4>
        <pre>
{
    "user": [
        {
            "durum": false,
            "mesaj": "Kaydolmak i\u00e7in gerekli bilgiler eksik."
        }
    ]
}
        </pre>

        <h4>Aynı e-posta adresiyle kayıt yapılmaya çalışılıyorsa: </h4>
        <pre>
{
    "user": [
        {
            "durum": false,
            "mesaj": "Bu mail adresi ile daha \u00f6nce kay\u0131t olunmu\u015f"
        }
    ]
}

</pre>

        <h4>Başarılı İşlem: </h4>
        <pre>
{
    "user": [
        {
            "durum": true,
            "mesaj": "Kay\u0131t i\u015flemi ba\u015far\u0131l\u0131"
        }
    ]
}
        </pre>



    </div>

    <div class="panel-footer">
        <p>Kullancı Kaydı için kullanılır.</p>
    </div>
</div>
