body {background: #fff; color: #666; font-size: 14px; font-family: Arial;}
a {
	color: #222244;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #222244;
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

h1, h2, h3, h4, h5, h6, 
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, s
nav li a,
.bx-wrapper .bx-caption span {
	font-family: 'Exo 2', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
ul {padding:0;}

.top20 		{margin-top: 20px;}
.top30 		{margin-top: 30px;}
.top40 		{margin-top: 40px;}
.bottom20 	{margin-bottom: 20px;}
.bottom30 	{margin-bottom: 30px;}
.bottom40 	{margin-bottom: 40px;}


.login-panel {
    margin-top: 25%;
}

.btn-one {
    background-color: #285e8e;
    color: #fff;
    animation-duration: 2s;
  }

.panel-body:hover .btn-one {
    background-color: #2b669a;
    color: #fff;
    animation-name: button;

}

@keyframes button {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}


