{#
{{ include("admin/super/header.html.twig") }}
#}

{% embed "admin/super/header.html.twig" %}
    {% block title %}
        {{ data.title }}
    {% endblock %}
{% endembed %}

<div id="page-wrapper">

    <div class="container">
        {% block admin_icerik %}

            <h1>Süper admin sayfasına hoşgeldiniz.</h1>

        {% endblock %}
    </div>
</div>


{{ include("admin/super/footer.html.twig") }}
