{% embed "admin/super/header.html.twig" %}
    {% block title %}
        {{ data.title }}
    {% endblock %}
{% endembed %}

<div id="page-wrapper" style="padding-top: 25px">

        {% block admin_icerik %}

            <h1>Süper admin sayfasına hoşgeldiniz.</h1>

        {% endblock %}
</div>


{{ include("admin/super/footer.html.twig") }}
