<?php
                }
            }
            ?>


<!-- BİREYSEL ŞİRKET BİLGİLERİ -->
<?php
            if (isset($link_ref) and
                isset($link_id) and
                $link_ref == "sirket"
            ){
                $sirket = Bulut::getirSirket($link_id);
            ?>

<div class="row">

<!-- ŞİRKET ADI -->
<div class="col-lg-8">
    <div class="col-lg-4">
        <img src="../upload/logo.jpg" alt=""/>
    </div>
    <div class="col-lg-8">
        <!-- TODO: CSS Değişme -->
        <header>
            <a style="font-size: 2.5rem" href="?link_ref=sirket&id= <?php echo $sirket['id']; ?>">
                <?php echo $sirket["adi"]; ?>
                (<?php
                                    if ($sirket["premium"]) {
                                        echo "Premium Kullanıcı";
                                    }
                                    else {
                                        echo "Normal Kullanici";
                                    }
                                    ?>)
            </a>
            <br/>

            <div>
                <strong>Yetkili: </strong><?php echo $sirket["yetkili"]; ?>
                <br/>
                <strong>Tel: </strong> <a href="tel:<?php echo $sirket['tel']; ?>"><?php echo $sirket["tel"]; ?></a>
                <br/>
                <strong>Kayıt Tarihi: </strong> <?php echo substr($sirket["tarih_kayit"], 0, 10); ?>
            </div>
        </header>
    </div>
    <br/>
</div>
<div class="col-lg-4 text-right">
    <span class="btn btn-default">Giriş</span>
    <span class="btn btn-default">Aktif/Pasif</span>
    <span class="btn btn-default">İletişim</span>
</div>

<!-- alt bilgiler -->
<div class="col-lg-12">

    <hr/>

    <div class="col-lg-8">

        <div class="col-lg-12">
            <!-- ŞİRKET AYRINTILI BİLGİLER -->


            <!-- kullanıcılar paneli -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <?php echo $sirket["kullanici_sayisi"]; ?>
                            </div>
                            <div>
                                <h3>KULLANICILAR</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <?php
                                        $kullanicilar = Bulut::getirSirketKullanicilar($sirket["id"]);

                                        foreach($kullanicilar as $kullanici){
                                            ?>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-8">
                                    <?php echo $kullanici["adi"]." ".$kullanici["soyadi"]; ?>
                                </div>
                                <div class="col-lg-4 text-right">
                                    <span class="btn btn-default">İşlem</span>
                                    <span class="btn btn-default">İşlem</span>
                                    <span class="btn btn-default">İşlem</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            adfasfsadf
                        </div>
                    </div>

                    <hr/>

                    <?php
                                        }

                                        ?>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-2">
                            <<<
                        </div>
                        <div class="col-lg-8 text-center">
                            1 - 2 - 3 - 4 - 5
                        </div>
                        <div class="col-lg-2 text-right">
                            >>>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <?php echo Bulut::getirSirketMusteriler($sirket["id"], $sayı=true); ?>
                            </div>
                            <div>
                                <h3>MÜŞTERİLER</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <?php
                                        $musteriler = Bulut::getirSirketMusteriler($sirket["id"]);

                                        if(!$musteriler) {
                                            $musteriler = array();
                                        }

                                        foreach($musteriler as $musteri) {
                                            ?>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-8">
                                    <?php echo $musteri["adi"]." ".$musteri["soyadi"]; ?>
                                </div>
                                <div class="col-lg-4 text-right">
                                    <span class="btn btn-default">İşlem</span>
                                    <span class="btn btn-default">İşlem</span>
                                    <span class="btn btn-default">İşlem</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <strong>Email: </strong> <?php echo $musteri["mail"]; ?><br/>
                            <strong>Kayıt Tarihi: </strong><?php echo $musteri["tarih_kayit"]; ?><br/>
                            <strong>Son Giriş: </strong><?php echo $musteri["tarih_son_giris"]; ?>
                        </div>
                    </div>

                    <hr/>
                    <?php
                                        }

                                        ?>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-2">
                            <<<
                        </div>
                        <div class="col-lg-8 text-center">
                            1 - 2 - 3 - 4 - 5
                        </div>
                        <div class="col-lg-2 text-right">
                            >>>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-red">
            <div class="panel-heading text-center">
                <h3>
                    İletişim Bilgileri
                </h3>
            </div>
            <div class="panel-body text-center">
                <address>
                    <?php echo $sirket["adres"]; ?>
                </address>
                <hr/>
                <div class="text-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6030.533199975311!2d29.15560257888792!3d40.90990002799083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x15813283ae2b8635!2sKartal+Adliyesi!5e0!3m2!1sen!2s!4v1428913400874"
                            width="300" height="200" frameborder="0" style="border:0"></iframe>
                </div>
            </div>

            <div class="panel-footer text-center">
                <strong>Tel: </strong> <a href="tel:<?php echo $sirket['tel']; ?>"><?php echo $sirket["tel"]; ?></a>
            </div>
        </div>


        <div>
        </div>

    </div>
    <br/>
</div>

</div>

<?php
            }
            ?>

<hr/>
<hr/>

</div>
