{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}
    <section>
        <div class="error-page">
            <div class="inner">
                <div class="text">
                    <p><i class="fa fa-skyatlas"></i></p>
                    <p>"Geçersiz Sayfa"</p>
                    <h3>Sol Taraftaki Menüden Gitmek İstediğiniz Yeri Seçebilirsiniz...</h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
