{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}

    <section>

        <div class="panel panel-primary">

            <div class="panel-heading text-center">
                <h4>Çalışan Ekleme Sayfası</h4>
            </div>

            <div class="panel-body">

                <form action="sirket/inc/calisan.php" method="post">

                    <div class="row">
                        
                    </div>


                </form>

            </div>


        </div>


    </section>

{% endblock %}
