{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}

    <section>

        <div class="panel panel-primary" style="width: 75%; margin: 0 auto">

            <div class="panel-heading text-center">
                <h4>Çalışan Ekleme Sayfası</h4>
            </div>

            <div class="panel-body">

                <form action="sirket/inc/calisan.php" method="post" style="margin: 0 auto; width: 75%">

                    <div class="row form-group text-right">
                        <div class="col-lg-4">
                            <label for="adi">Adı:</label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="adi" id="id"/>
                        </div>
                    </div>

                    <div class="row form-group text-right">
                        <div class="col-lg-4">
                            <label for="soyadi">Soyadi:</label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="soyadi" id="soyadi"/>
                        </div>
                    </div>

                    <div class="row form-group text-right">
                        <div class="col-lg-4">
                            <label for="mail">Mail Adresi:</label>
                        </div>

                        <div class="col-lg-8">
                            <input type="mail" class="form-control" name="mail" id="mail"/>
                        </div>
                    </div>

                    <div class="row form-group text-right">
                        <div class="col-lg-4">
                            <label for="mailTekrar">Mail Adresi:</label>
                        </div>

                        <div class="col-lg-8">
                            <input type="mail" class="form-control" name="mailTekrar" id="mailTekrar"/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                        </div>

                        <div class="col-lg-10">
                            <input type="submit" class="btn btn-primary" value="Kaydet" name="kayit"/>
                        </div>
                    </div>
                </form>

            </div>


        </div>


    </section>

{% endblock %}
