{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}

    <section>
        <h1 class="baslik">Formlar</h1>

        <a class="btn btn-primary" href="?link=formlar&islem=ekle">Form Ekle</a>


    </section>

{% endblock %}
