{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}

    <section>
        <h1 class="baslik">Form Görüntüle</h1>

        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 class="text-center panel-title">{{ data.form.adi }}</h3>
            </div>

            <div class="panel-body">

                {% if data.GET.islem == "jgoruntule" %}
                    <pre>
                        {{ data.form.json }}
                    </pre>
                {% elseif data.GET.islem == "hgoruntule" %}
                    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.js"></script>
                    <script>
                        $(document).ready(function () {
                            $('input[type="submit"]').attr('disabled','disabled');
                            $("button").attr('disabled','disabled');
                        });
                    </script>
                        {{ data.form.html|raw }}
                {% endif %}

            </div>

            <div class="panel-footer">

            </div>

        </div>

    </section>

{% endblock %}
