{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}

    <section>
        <h1>Galeri Yönetim Sayfası</h1>
    </section>

{% endblock %}
