{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}

    <script type="text/javascript">
        var APPPATH_URI = "/system/cms/";
        var BASE_URI = "/";
    </script>
    <script type="text/javascript" src="../static/js/wissen.js"></script>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Galeriyi Düzenle</h4>
                        </div>
                        <div class="panel-body">


                            <form class="form-horizontal"
                                  action="?link=galeri&albumId={{ data.album.id }}&islem=galeriDuzenle"
                                  method="post">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" name="galeriAdi" class="form-control"
                                               value="{{ data.album.isim }}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" name="galeriAciklama" class="form-control"
                                               value="{{ data.album.aciklama }}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="radio">
                                            <label><input type="radio" name="aktif"
                                                          value="1" {% if data.album.aktif == 1 %} checked {% endif %}>Aktif</label>
                                        </div>

                                        <div class="radio">
                                            <label><input type="radio" name="aktif"
                                                          value="0" {% if data.album.aktif == 0 %} checked {% endif %}>Pasif</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary" value="Galeriyi Düzenle">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>


                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Yeni Galeri Oluştur</h4>
                        </div>
                        <div class="panel-body">


                            <form class="form-horizontal"
                                  action="?link=galeri&islem=galeriOlustur" method="post">

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" name="galeriAdi" class="form-control"
                                               placeholder="Galerinin Adı"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" name="galeriAciklama" class="form-control"
                                               placeholder="Galeri Açıklaması"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="radio">
                                            <label><input type="radio" name="aktif" value="1" checked>Aktif</label>
                                        </div>

                                        <div class="radio">
                                            <label><input type="radio" name="aktif" value="0">Pasif</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary" value="Galeri Oluştur">
                                    </div>
                                </div>

                            </form>
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}