{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}

    <div class="row">

        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="text-center">JSON API Dökümantasyon</h3>
                </div>

                <div class="panel-body">

                    {% if data.GET.id %}

                        {{ include(data.json_link) }}

                    {% else %}
                    <table class="table table-condensed table-striped table-hover">

                        <thead>
                            <tr>
                                <th colspan="2">JSON API</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <p>Anketler</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=anket_sunum">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Ankete Yanıt Toplama</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=anket_secimler">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Beğeni Yönetimi</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=begeniler">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Duyurular</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=duyurular">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Formlar</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=formlar">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Haber Kategori</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=haber_kategori">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Haberler</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=haberler">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>İçerikler</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=icerikler">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Kategoriler</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=sirket_kategori">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Kullanıcı Ayarlar</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=kullanici_ayarlar">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Kullanıcı Giriş</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=kullanici_giris">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Kullanıcı Kayıt</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=kullanici_kayit">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Reklam Gösterim</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=reklam_gosterim">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Siparişler</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=siparisler">Git</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Mesajlar</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=mesajlar">Git</a>
                                </td>
                            </tr>
			    <tr>
                                <td>
                                    <p>Ürünler</p>
                                </td>
                                <td>
                                    <a href="?link=json&id=urunler">Git</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    {% endif %}

                </div>

            </div>

        </div>

    </div>

{% endblock %}
