{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}

    <script type="text/javascript" src="static/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    </script>

    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h4>Duyuru Düzenleme</h4>
                </div>

                <div class="panel-body">

                    <form style="width: 90%; margin: 0 auto" method="post" class="form-horizontal" action="sirket/inc/sirketDuyuru.php">
                        <input name="duyuru_id" type="hidden" value="{{ data.sirket_duyuru.id }}"/>

                        <div class="form-group" >
                            <input value="{{ data.sirket_duyuru.duyuru_baslik }}" class="form-control" type="text" name="baslik" id="baslik"/>
                        </div>

                        <div class="form-group" >
                            <textarea name="detay" id="detay" cols="30" rows="10" class="form-control" placeholder="Detay giriniz.">{{ data.sirket_duyuru.duyuru_detay|raw }}</textarea>
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="durum" id="">
                                {% if data.sirket_duyuru.durum == 1 %}
                                    <option value="0">Pasif</option>
                                    <option value="1" selected>Aktif</option>
                                {% else %}
                                    <option value="0" selected>Pasif</option>
                                    <option value="1">Aktif</option>
                                {% endif %}

                            </select>
                        </div>

                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="duzenle" value="Kaydet"/>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>
{% endblock %}
