{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}
    <section>
        <h1>{{ data.mesaj }}</h1>
    </section>

    <form action="sirket/inc/urunEkle.php" method="post" enctype="multipart/form-data">
        <div id="example-3">
            <div>
                <ul>
                    {{ data.kategoriler|raw }}
                </ul>
            </div>
        </div>
        <input type="text" name="urunAdi" placeholder="Ürün Adınız Giriniz">
        <input type="text" name="kisaAciklama" placeholder="Kısa Açıklama Giriniz">
        <textarea name="urunAciklama" placeholder="Ürün Açıklamasını Giriniz" cols="30" rows="10"></textarea>
        <input type="text" name="fiyat" placeholder="Ürün Fiyatını Giriniz">
        <select name="tip">
            <option value="1">Satılık</option>
            <option value="2">Kiralık</option>
        </select>
        Kampanyalı ürün:<select name="kampanya">
            <option value="1">Evet</option>
            <option value="0">Hayır</option>
        </select>
        <input type="text"  name="kampanyaBaslik" placeholder="Kampanya Adı">
        <textarea name="kampanyaDetay" placeholder="Kampanya Detayını Giriniz" cols="30" rows="10"></textarea>
        <input type="submit" value="Kaydet" name="kaydet">
        <input type="hidden" name="sirketId" value="{{ data.sirket.id }}">
    </form>

{% endblock %}