<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ data.title }}
        {% endblock %}
    </title>
</head>
<body>

<h2>Şirket admin işleri.</h2>

<div class="container">

    <hr/>
