<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="inner">
                    <p>©Tüm Hakları Saklıdır</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <ul class="social">
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/JsonBulut"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a target="_blank" href="https://twitter.com/jsonbulut"><i class="fa fa-twitter"></i></a></li>
                    <li class="instagram"><a target="_blank" href="https://instagram.com/jsonbulut"><i class="fa fa-instagram"></i></a></li>
                    <li class="googleplus"><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>