<footer>
    <section class="ribbon">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="inner">
                        <p>©Tüm Hakları Saklıdır</p>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <div class="social pull-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>

</body>
</html>