<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="icon" href="static/images/favicons/favicon.ico" type="image/x-icon" />
    <title>
        {% block title %}
            Bulut
        {% endblock %}
    </title>
    <meta name="description" content="some description" />
    <meta name="keywords" content="HTML,CSS,XML,JavaScript" />
    <meta name="author" content="{your name}"/>
    <link rel="stylesheet" href="static/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bulut.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/responsive.css">
    <script src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
    <script type="text/javascript" src="static/js/wissen.js"></script>
    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                speed:1000,
                pause:7500,
                auto: true
            });
        });
    </script>
    <script type="text/javascript">
        var APPPATH_URI = "/system/cms/";
        var BASE_URI = "/";
    </script>
</head>
<body>
<header>
    <section class="ribbon">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="inner">
                        <i class="fa fa-phone"></i><a href="tel:+902122451255">+90 212 245 12 55 </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="grs-kyt">
                        <a href="?link=giris"><i class="fa fa-angle-double-right"></i>Giriş Yap</a>
                        <a href="?link=kayit"><i class="fa fa-angle-double-right"></i>Kayıt Ol</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="logo"><a href="index.php"><img src="static/img/logo2.png"></a></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <nav>
                        <ul class="topmenu">
                            <li class=""><a href="index.php" class="mainmenu">Anasayfa</a></li>
                            <li class=""><a href="?link=hakkimizda" class="mainmenu">HAKKIMIZDA</a>
                                <ul class='submenu'>
                                    <!-- TODO: ########################################################## -->
                                    <li class=""><a href="?link=ailemiz" class="mainmenu">Ailemiz</a></li>
                                </ul>
                            </li>
                            <li class=""><a href="#" class="mainmenu">PROGRAM</a>
                                <ul class='submenu'>
                                    <li class=""><a href="admin/index.php" class="mainmenu">Admin</a></li>
                                    <li class=""><a href="?link=sifirla" class="mainmenu">Şifre Reset</a></li>
                                    <li class=""><a href="?link=sifirla&key=qweasd" class="mainmenu">Şifre Sıfır</a></li>
                                </ul>
                            </li>
                            <li class=""><a href="?link=galeri" class="mainmenu">GALERİ</a></li>
                            <li class=""><a href="?link=iletisim" class="mainmenu">İLETİŞİM</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</header>

