{% extends "index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block content %}
    <section>
        <div class="error-page">
            <div class="inner">
                <div class="text">
                    <p><i class="fa fa-skyatlas"></i></p>
                    <p>"404 Not Page"</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
