{% extends "index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block content %}
    <section>
        <div class="container top40 bottom40">
            <link href="static/css/touchTouch.css" type="text/css" rel="stylesheet" />
            <script type="text/javascript" src="static/js/jquery.touch.js"></script>
            <script>
                $(function(){
                    $('#thumbs a').touchTouch();
                });
            </script>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="photogallery">
                        <div id="thumbs">
                            <!-- TODO: Burada bir sorun var. Dosya yolu çözümlenemedi bir türlü background olunca. -->
                            <a href="static/fotogaleri/1-giris-ekrani.png" style="background-image:url(static/fotogaleri/1-giris-ekrani-.png)" title="Giriş Ekranı">
                                <h5>Giriş Ekranı</h5>
                            </a>

                            <a href="static/fotogaleri/2-admin-giris-ekrani.png" style="background-image:url(static/fotogaleri/2-admin-giris-ekrani-.png)" title="Admin Karşılama Ekranı">
                                <h5>Admin Karşılama Ekranı</h5>
                            </a>

                            <a href="static/fotogaleri/3-logo-degistirme.png" style="background-image:url(static/fotogaleri/3-logo-degistirme-.png)" title="Şirket Logo Değiştirme">
                                <h5>Şirket Logo Değiştirme</h5>
                            </a>

                            <a href="static/fotogaleri/4-kategoriler-yonetimi.png" style="background-image:url(static/fotogaleri/4-kategoriler-yonetimi-.png)" title="Kategori Yönetimi">
                                <h5>Kategori Yönetimi</h5>
                            </a>

                            <a href="static/fotogaleri/5-urun-ekleme.png" style="background-image:url(static/fotogaleri/5-urun-ekleme-.png)" title="Ürün Yönetimi">
                                <h5>Ürün Yönetimi</h5>
                            </a>

                            <a href="static/fotogaleri/6-reklam-yonetimi.png" style="background-image:url(static/fotogaleri/6-reklam-yonetimi-.png)" title="Reklam Yönetimi">
                                <h5>Reklam Yönetimi</h5>
                            </a>

                            <a href="static/fotogaleri/7-icerik-yonetimi.png" style="background-image:url(static/fotogaleri/7-icerik-yonetimi-.png)" title="İçerik Yönetimi">
                                <h5>İçerik Yönetimi</h5>
                            </a>
							
							
                            <a href="static/fotogaleri/8-musteri-yonetimi.png" style="background-image:url(static/fotogaleri/8-musteri-yonetimi-.png)" title="Müşteri Yönetimi">
                                <h5>Müşteri Yönetimi</h5>
                            </a>
							
							
                            <a href="static/fotogaleri/9-galeri-yonetimi.png" style="background-image:url(static/fotogaleri/9-galeri-yonetimi-.png)" title="Galeri Yönetimi">
                                <h5>Galeri Yönetimi</h5>
                            </a>
							
							
                            <a href="static/fotogaleri/10-duyuru-yonetimi.png" style="background-image:url(static/fotogaleri/10-duyuru-yonetimi-.png)" title="Duyuru Yönetimi">
                                <h5>Duyuru Yönetimi</h5>
                            </a>
							
							
                            <a href="static/fotogaleri/11-dinamik-form-ekleme.png" style="background-image:url(static/fotogaleri/11-dinamik-form-ekleme-.png)" title="Dinamik Form Ekleme">
                                <h5>Dinamik Form Ekleme</h5>
                            </a>
							
							
                            <a href="static/fotogaleri/12-haber-yonetimi.png" style="background-image:url(static/fotogaleri/12-haber-yonetimi-.png)" title="Haber Yönetimi">
                                <h5>Haber Yönetimi</h5>
                            </a>
							
							
                            <a href="static/fotogaleri/13-urun-begeni-yonetimi.png" style="background-image:url(static/fotogaleri/13-urun-begeni-yonetimi-.png)" title="Ürün Beğeni Yönetimi">
                                <h5>Ürün Beğeni Yönetimi</h5>
                            </a>
							
							
                            <a href="static/fotogaleri/14-anket-yonetimi.png" style="background-image:url(static/fotogaleri/14-anket-yonetimi-.png)" title="Anket Yönetimi">
                                <h5>Anket Yönetimi</h5>
                            </a>
							
							
                            <a href="static/fotogaleri/15-duyuru-yonetimi.png" style="background-image:url(static/fotogaleri/15-duyuru-yonetimi-.png)" title="Duyuru Yönetimi">
                                <h5>Duyuru Yönetimi</h5>
                            </a>
							
							
                            <a href="static/fotogaleri/16-kullanicilar-mesaj-yonetimi.png" style="background-image:url(static/fotogaleri/16-kullanicilar-mesaj-yonetimi-.png)" title="Kullanıcı Mesajları Yönetimi">
                                <h5>Kullanıcı Mesajları Yönetimi</h5>
                            </a>
							
							
                            <a href="static/fotogaleri/17-siparis-yonetimi.png" style="background-image:url(static/fotogaleri/17-siparis-yonetimi-.png)" title="Sipariş Yönetimi">
                                <h5>Sipariş Yönetimi</h5>
                            </a>
							
							
                            <a href="static/fotogaleri/18-json-api-yonetimi.png" style="background-image:url(static/fotogaleri/18-json-api-yonetimi-.png)" title="JSON Api Yönetimi">
                                <h5>JSON Api Yönetimi</h5>
                            </a>
							
							
                            <a href="static/fotogaleri/19-sirket-bilgileri-yonetimi.png" style="background-image:url(static/fotogaleri/19-sirket-bilgileri-yonetimi-.png)" title="Şirket Bilgileri Yönetimi">
                                <h5>Şirket Bilgileri Yönetimi</h5>
                            </a>
							
														
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="pagination">
                        <li class="active">
                            <span>1</span>
                        </li>
                        <!--<li>
                            <a href="#">2</a>
                        </li>-->
                        <!--<li class="next">
                            <a href="#">&raquo;</a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
