{% extends "index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block content %}
    <section>
        <content>
            <div class="container top40 bottom40">

                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="thumb">
                            <a href="?link=galeri&album=1">
                                <img src="http://www.cihangirsportsclub.com/uploads/default/photos/28ec33bdd6dd762bb1d75080578ae046_mid_r.jpg" class="full" alt=""/>
                            </a>
                            <a href="?link=galeri&album=1">
                                <div class="hover">
                                    <i class="fa fa-eye"></i>
                                </div>
                            </a>
                        </div>
                        <h5 class="title"><a href="">Album 1</a></h5>
                    </div>
                </div>
            </div>
        </content>
    </section>


{% endblock %}
