{% extends "index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block content %}
    <div class="about top40 bottom40">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="over">
                        <h2>Json Bulut</h2>
                        <p style="margin-top: 29px;">
                            Anında güçlü bir bulut veritabanı eklemek için, "Json Bulut".
	Bu sloganla yola çıkarak Json Bulut dünyaya geldi.
JsonBulut; vermiş olduğu hizmette mobil uygulamalarınıza kolay ulaşmanızı sağlayacaktır.
Oluşturduğunuz bulut veritabanı sadece bir tık uzağınızda olacak.
Evde işte yolda nerede olursanız olun, JsonBulut ile veritabanınızı yanınızda taşıyacaksınız.
Kullanışlı ve kullanıcı dostu site tasarımı, basit ve hızlı admin paneliyle JsonBulut size
en hızlı şekilde hizmet vermek için hazır bekliyor.
                        </p>
                        <p>
                           JsonBulut; mobil uygulamalarınızı yazmanızda Json API ile size büyük bir kolaklık sağlacaktır.
Mobil uygulamanız için geren herşeyi JsonBulut'ta bulacaksınız. Örneğin; sipariş,müşteri,reklam ve duyuru
yönetimi vb herşey JsonBulut'ta.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="over">
                        <img src="static/img/hakkimizda.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}