{% extends "index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block content %}

    <section class="contact top40 bottom40">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="over">
                        <b>Adres : </b>
                        <p>Barbaros Cad. No:22/A Beşiktaş/İSTANBUL</p>
                        <b>Tel : </b>
                        <p>+90 212 212 XX XX</p>
                        <b>E-mail : </b>
                        <p>jsonbulut@hotmail.com</p>
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="text" autofocus="" name="adi-soyadi" placeholder="Ad Soyad">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" value="" name="email" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name=""></textarea>
                            </div>
                            <div class="form-group pull-right">
                                <input class="btn-two" type="button" name="gonder" value="Gönder">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="over">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m22!1m12!1m3!1d6018.248163736538!2d29.002375226879618!3d41.044415548814044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m7!1i0!3e6!4m0!4m3!3m2!1d41.0440271!2d29.006774!5e0!3m2!1str!2s!4v1428909133355" width="100%" height="450" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
